<h1>Show Page of a specific Credit</h1>

<div class="credit">
	<div>
		<h2>Credit Id: <%= @credit.id %></h2>
	</div>
	<div>
		<h2>Owner of Credit: <%= full_name(@owner) %></h2>
	</div>
	<div>
		<h2>Credit Code: <%= @credit.credit_code %></h2>
	</div>
</div>
