.user_credits {
	border:2px solid black;
	background-color:grey;
	height:150px;
}

.credit_redeem {
	border:2px solid black;
	background-color:grey;
	height:150px;
}

.credit_redeem_form {
	width:200px;
	margin-top:30px;
	margin-left:120px;
}

.redeem_button {
	margin-top:35px;
}

.redeem_label {
	margin-top:30px;
}